@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?w8vjx8');
  src:  url('iconfont.eot?w8vjx8#iefix') format('embedded-opentype'),
    url('iconfont.ttf?w8vjx8') format('truetype'),
    url('iconfont.woff?w8vjx8') format('woff'),
    url('iconfont.svg?w8vjx8#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE93D .path1:before {
  content: "\e93d";
  color: rgb(228, 57, 60);
}
.icon-uniE93D .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-uniE93D .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon--400:before {
  content: "\e900";
  color: #979797;
}
.icon-- .path1:before {
  content: "\e901";
  color: rgb(216, 216, 216);
}
.icon-- .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon-- .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-- .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(151, 151, 151);
}
.icon--1:before {
  content: "\e916";
  color: #979797;
}
.icon--2:before {
  content: "\e917";
  color: #979797;
}
.icon--3:before {
  content: "\e918";
  color: #979797;
}
.icon--4:before {
  content: "\e919";
  color: #979797;
}
.icon-1:before {
  content: "\e91a";
  color: #a4a4a4;
}
.icon--HOT .path1:before {
  content: "\e91b";
  color: rgb(242, 151, 24);
}
.icon--HOT .path2:before {
  content: "\e91c";
  margin-left: -2em;
  color: rgb(255, 255, 255);
}
.icon--HOT .path3:before {
  content: "\e91d";
  margin-left: -2em;
  color: rgb(255, 255, 255);
}
.icon--HOT .path4:before {
  content: "\e91e";
  margin-left: -2em;
  color: rgb(255, 255, 255);
}
.icon--5:before {
  content: "\e91f";
  color: #ccc;
}
.icon--6:before {
  content: "\e920";
  color: #f29718;
}
.icon--7:before {
  content: "\e921";
  color: #f29718;
}
.icon--8:before {
  content: "\e922";
  color: #f29718;
}
.icon--9:before {
  content: "\e923";
  color: #f29718;
}
.icon-01 .path1:before {
  content: "\e924";
  color: rgb(241, 241, 241);
}
.icon-01 .path2:before {
  content: "\e925";
  margin-left: -1.849609375em;
  color: rgb(220, 220, 220);
}
.icon-01 .path3:before {
  content: "\e926";
  margin-left: -1.849609375em;
  color: rgb(220, 220, 220);
}
.icon-02 .path1:before {
  content: "\e927";
  color: rgb(230, 230, 230);
}
.icon-02 .path2:before {
  content: "\e928";
  margin-left: -1.849609375em;
  color: rgb(210, 210, 210);
}
.icon-02 .path3:before {
  content: "\e929";
  margin-left: -1.849609375em;
  color: rgb(210, 210, 210);
}
.icon-2 .path1:before {
  content: "\e92a";
  color: rgb(234, 201, 54);
}
.icon-2 .path2:before {
  content: "\e92b";
  margin-left: -1.3330078125em;
  color: rgb(233, 167, 41);
}
.icon-2 .path3:before {
  content: "\e92c";
  margin-left: -1.3330078125em;
  color: rgb(233, 167, 41);
}
.icon-2 .path4:before {
  content: "\e92d";
  margin-left: -1.3330078125em;
  color: rgb(233, 167, 41);
}
.icon-2 .path5:before {
  content: "\e92e";
  margin-left: -1.3330078125em;
  color: rgb(236, 214, 53);
}
.icon--10:before {
  content: "\e92f";
  color: #979797;
}
.icon--HOT1 .path1:before {
  content: "\e930";
  color: rgb(242, 151, 24);
}
.icon--HOT1 .path2:before {
  content: "\e931";
  margin-left: -1.75em;
  color: rgb(255, 255, 255);
}
.icon--HOT1 .path3:before {
  content: "\e932";
  margin-left: -1.75em;
  color: rgb(242, 151, 24);
}
.icon-3:before {
  content: "\e933";
  color: #d8d8d8;
}
.icon-uniE934 .path1:before {
  content: "\e934";
  color: rgb(216, 216, 216);
}
.icon-uniE934 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-uniE934 .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-uniE934 .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(221, 221, 221);
}
.icon--11:before {
  content: "\e938";
  color: #979797;
}
.icon-011:before {
  content: "\e939";
  color: #f29600;
}
.icon--12:before {
  content: "\e93a";
  color: #b3b3b3;
}
.icon--13:before {
  content: "\e93b";
  color: #b3b3b3;
}
.icon--14:before {
  content: "\e93c";
  color: #b3b3b3;
}
